<nav class="navbar navbar-light fixed-top nav-bg" id="topbar">
  <div class="container col-12">
    <h3>BONZAI&trade;</h3>
    
    <button class="navbar-toggler" type="button" 
      data-toggle="collapse" data-target="#Navbar"
      aria-expanded="false" aria-label="Toggle Menu" 
      (click)="isCollapsed = !isCollapsed" 
      [attr.aria-expanded]="!isCollapsed" aria-controls="Navbar">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="Navbar" [ngbCollapse]="isCollapsed">

      <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
        <li class="nav-item">
          <a routerLink="/home" routerLinkActive="active" class="nav-link" href="home"  (click)="isCollapsed = !isCollapsed">
            <i-home></i-home>
            Home
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/stocks" routerLinkActive="active" class="nav-link" href="stocks"  (click)="isCollapsed = !isCollapsed">
            <i-bar-chart-2></i-bar-chart-2>
            Stocks
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/dividends" routerLinkActive="active" class="nav-link" href="dividends"  (click)="isCollapsed = !isCollapsed">
            <i-dollar-sign></i-dollar-sign>
            Dividends
          </a>
        </li>
        <li class="nav-item">
            <a routerLink="/financial" routerLinkActive="active" class="nav-link" href="financial" (click)="isCollapsed = !isCollapsed">
              <i-pie-chart></i-pie-chart>
              Fiancial statements
            </a>
          </li>
        <li class="nav-item">
          <a routerLink="/dashboard" routerLinkActive="active" class="nav-link" href="dashboard"  (click)="isCollapsed = !isCollapsed">
            <i-file></i-file>
            Sample
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/about" routerLinkActive="active" class="nav-link" href="about"  (click)="isCollapsed = !isCollapsed">
            <i-info></i-info>
            About
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
