<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display|Roboto|Roboto+Slab" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" />
    <!-- Icon -->
    <script src="http://code.jquery.com/jquery-3.3.1.js"></script>
    <link rel="stylesheet" href="https://bootswatch.com/4/superhero/bootstrap.min.css">

    <title>About</title>
</head>

<body>
    <!-- Site Navigation Start -->
    <script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <div class="topmenu">
        <div class="limit-col">
            <nav>
                <div class="hamburger">
                    <i class="fas fa-bars menu" aria-hidden="true"></i>
                </div>
                <a href="index.html"><i class="fas fa-home"></i></a>
            </nav>
        </div>
    </div>
    <!-- Tiny script to toggle menu on smaller screens -->
    <script type="text/javascript">
        $(document).ready(function() {
            $('.menu').click(function() {
                $('nav a').toggleClass('active');
            })
        })
    </script>

    <!-- Site Navigation End -->
    <!-- Header Start -->
    <div class="row">
        <div class="header2">
            <div class="container-fluid">
                <h1>About BONZAI</h1>
            </div>
        </div>
    </div>
    <!-- Header End -->
    <!-- Main Content Start -->
    <div class="row limit-col colpad">
        <div class="row">
            <h1>A Better Life Starts Here</h1>
            <div class="container-fluid">
                <div class="limit-col">
                    <blockquote>
                        <p>Bonsai: An an asian art form using cultivation techniques to produce small trees. Bonsai trees are know to grow in obscure places given the right conditions. </p>
                        <p>BONZAI cultivates your wealth through helping you find dividend stocks for investing towards your goal. Carefully selecting dividend stocks to add to your portfolio can help grow your wealth even in the most volatile of markets.</p>
                    </blockquote>
                </div>
            </div>
            <p> BONZAI makes growing your wealth easy by providing you with a carefully curated group of dividend stocks to choose from. </p>
            <ul>
                <li>Long Running Top Picks</li>
                <li>Dividend Stocks by Sector</li>
                <li>Our Top Picks</li>
                <li>Customize Your Own</li>
            </ul>
        </div>
        <div class="col-6 col-s-6 colpad">
            <h2>How To Use the Best Dividend Stocks List?</h2>
            <p>
                The stocks featured on our Best Dividend Stocks List are geared toward traditional long-term investors looking to boost their current income stream, while at the same time maintaining a relatively low risk profile. The stocks above have been hand picked
                by Dividend.com staff, which utilizes proprietary research and analysis to determine the best and safest dividend stocks to buy with “new money.” Our list contains compelling dividend paying stocks that have been thoroughly vetted and
                feature exceptional ratings.Our list is not meant to represent a complete portfolio, nor is every stock on this list appropriate for all investors. We highly encourage investors to do their own research before making any investment decision.
                When we remove a name from our “Recommended” dividend stocks list, that downgrade generally means that we no longer recommend adding to existing positions, or establishing new positions in that stock. More importantly, a removal from our
                list is almost never a “Sell” call. On very rare occasions we may issue “Sell” calls if we feel the situation dictates. We also recommend investors to develop their own sell strategies to limit losses.When a stock is added to our list,
                that means the stock’s ratings have been upgraded from “Neutral” to “Recommended.” This change is also known as a “Buy” call.
            </p>
        </div>
        <div class="col-6 col-s-6 colpad">
            <h2>How to pick best dividend stock?</h2>
            <p>
                BONZAI was founded to make dividend investing easier for long-term and income-seeking investors. Much of our dividend research is compiled in our proprietary rating system, known as DARS™ (Dividend Advantage Rating System). Below is a detailed look at
                how we rate dividend stocks. The relative strength of a dividend stock indicates whether the stock is uptrending or not. The major determining factor in this rating is whether the stock is trading close to its 52-week-high. If a stock’s
                yield is above or near the market average then it will be rated higher within this parameter. High dividend yields (usually over 10%) should be considered extremely risky, while low dividend yields (1% or less) are simply not very beneficial
                to long-term investors. A stock’s dividend reliability is determined by a healthy payout ratio that is higher than other stocks. A company that pays out close to half its earnings as dividends and retains the other half of earnings has
                ample room to grow its business and pay out more dividends in the future. A stock’s Dividend Uptrend rating is dependent on the company’s price-to-earnings (P/E) ratio to evaluate whether or not a stock’s dividend is likely to trend upward.
                If a stock is valued near, or slightly below the market average, research has shown that the market expects the stock’s dividend to increase. A stock’s Earnings Growth rating evaluates a company’s expected EPS for the current financial
                year and compares it to next financial year’s expected EPS. Stocks with single-digit growth estimates will have a higher rating than others, as our research has shown that well-established dividend-paying companies have modest earnings
                growth estimates.
            </p>
        </div>
        <div class="col-6 col-s-6 colpad">
            <h2>Our Top Picks</h2>
            <p>

            </p>
        </div>
        <div class="col-6 col-s-6 colpad">
            <h2>Customize your own</h2>
            <p>

            </p>
        </div>
    </div>
    <!-- Main Content End -->
    <!-- Footer Start -->
    <div class="row">
        <div class="footer">
            <div class="limit-col">
                <blockquote>
                    "If you aren't willing to own a stock for ten years, don't even think about owning it for ten minutes. Put together a portfolio of companies whose aggregate earnings march upward over the years, and so also will the portfolio's market value."
                </blockquote>
                <blockquote class="quoting">
                    -- Warren Buffet
                </blockquote>
            </div>
        </div>
    </div>
    <!-- Footer End -->

</body>

</html>
<h2>{{ pageName }}</h2>

<div class="jumbotron">
    <h1>{{ pageName }}</h1>
</div>
<div class="container">
    <div class="row">
        <!--Poject Theme-->
        <div class="card mb-3">
            <h5 class="card-header">PROJECT BUSINESS SERVICE</h5>
            <div class="card-body">
                <p class="card-text">
                    BONZAI&trade; is a fictional business service created for the purpose of a master's project for course ISM 6255 (Distributed Information Systems). BONZAI&trade; was inspired by the Japanese meaning of Bonsai. <i>Bonsai</i> is an asian
                    art form using cultivation techniques to produce small trees. Bonsai trees are known for its resilience and its ability grow in obscure places given the right conditions. Likewise, this business service BONZAI&trade;, could provide
                    guidance to its customers by providing insights that could generate income even in a high volatility market. In a real-world application, we would apply machine learning and AI to discover dividend stocks suited to the customer's needs.
                    The deployed application utilizes IEX Trading APIs. The web app generates list of long term best dividend stocks, list of best dividend stocks by sector, list of company's top picks and allows the customer to search stocks.
                </p>
            </div>
        </div>
    </div>
    <!--About Project Team members-->
    <div class="row">
        <div class="card mb-3">
            <h5 class="card-header">PROJECT TEAM</h5>
            <div class="card-body">
                <div class="card-group">

                    <div class="card border-0">
                        <div class="card-body">
                            <h5 class="card-title">Meena Sundinti</h5>
                            <p class="card-text">Meena has around 8 years experience in IT. She is currently working for AAA Auto Club Group. Supplying data for Membership Point Of Contact ,Finance ,Marketing and Analytics Department via Data Warehouse tools.</p>
                        </div>
                    </div>

                    <div class="card border-0">
                        <div class="card-body">
                            <h5 class="card-title">Kham Sanvoravong</h5>
                            <p class="card-text">Kham has a Master in Electrical Engineering and works in manufacturing improving processes and design. He aspires to work on autonomous systems such as drones, automobiles, or other vehicles of transport. His goal is to start
                                a business one day.</p>
                        </div>
                    </div>

                    <div class="card border-0">
                        <div class="card-body">
                            <h5 class="card-title">Quy Le</h5>
                            <p class="card-text">Quy has more than 15 years experience in IT. He has recently switched to a manufacturing job to be more aligned with data science career path. Quy is planning to obtain an architecture role in three years and a C-level executive
                                in five years respectively.</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>


    <!--Technolgy in development of this project-->
    <div class="row">
        <div class="card mb-3">
            <h5 class="card-header">TECHNOLOGY</h5>
            <div class="card-body">
                <h5 class="card-title">Technology involved in the project development</h5>
                <p>
                    Frontend Angular application connects to custome API written in .NET Core. .NET Core syncs SQL Database and returned data from API call. Final web application is deployed to Azure.
                </p>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><b>Frontend</b> : Angular 7</li>
                    <li class="list-group-item"><b>Charting</b> : Highcharts</li>
                    <li class="list-group-item"><b>Backend</b> : .NET Core using IEX Trading API with four end-points</li>
                    <li class="list-group-item"><b>Database</b> : SQL Database</li>
                    <li class="list-group-item"><b>API</b> : IEX Trading API</li>
                    <li class="list-group-item"><b>Cloud</b> : Azure</li>
                </ul>
            </div>
        </div>
    </div>

    <!--Takeaways from this project-->
    <div class="row">
        <div class="card mb-3 w-100">
            <h5 class="card-header">ACHIEVEMENTS</h5>
            <div class="card-body">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Learnt <i>Angular 7, TypeScript, Bootstrap 4, C# 7 (ASP .NET Core), Azure</i></li>
                    <li class="list-group-item">Experience using advanced charting tools like <i>Highcharts</i></li>
                    <li class="list-group-item">Working experience on cross-platform development</li>
                    <li class="list-group-item">Learned how to deploy your project to the cloud</li>
                    <li class="list-group-item">Learnt the concept of dependency injection</li>
                    <li class="list-group-item">Learned the value of <i>table-value parameters</i> for speed and cost savings</li>
                    <li class="list-group-item">Learnt of Type-Safe JavaScript</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="row">
        <blockquote class="blockquote text-right">
            <p class="font-italic">"None of us, including me, ever do great things. But we can all do small things, with great love, and together we can do something wonderful."</p>
            <footer class="blockquote-footer"><cite title="Source Title">Mother Teresa</cite></footer>
        </blockquote>
    </div>


</div>