<div class="jumbotron">
  <h1>{{ pageName }}</h1>
</div>
<div class="container">
  <form class="form-inline">
    <div class="form-group mx-sm-3 mb-2">
      <input type="text" [formControl]="symbolName" />
    </div>
    <button (click)="findSymbol()" class="btn sm btn-dark">Find Symbol</button>
  </form>

  <div *ngIf="show">
    <table>
        <tr> 
          <th></th>
          <ng-container *ngFor="let statement of financialStatements">
          <td>{{statement.reportDate}}</td>
          </ng-container>
        </tr>
      <tbody>
        <tr>
          <th>Operating Income</th>
          <ng-container *ngFor="let statement of financialStatements">
            <td>{{statement.operatingIncome}}</td>
            </ng-container>
        </tr>
        <tr>
            <th>Operating Expenses</th>
            <ng-container *ngFor="let statement of financialStatements">
              <td>{{statement.operatingExpense}}</td>
              </ng-container>
          </tr>
      </tbody>
      </table>
  </div>
</div>

