<nav class="col-md-2 d-none d-md-block bg-light sidebar nav-bg">

  <div class="col-12 sidebar-sticky">
    <div class="sidebar-header">
      <h3>BONZAI&trade;</h3>
    </div>

    <ul class="nav flex-column">
      <li class="nav-item">
        <a routerLink="/home" routerLinkActive="active" class="nav-link" href="home">
          <i-home></i-home>
          Home
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="/stocks" routerLinkActive="active" class="nav-link" href="stocks">
          <i-bar-chart-2></i-bar-chart-2>
          Stocks
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="/dividends" routerLinkActive="active" class="nav-link" href="dividends">
          <i-dollar-sign></i-dollar-sign>
          Dividends
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="/financial" routerLinkActive="active" class="nav-link" href="financial">
          <i-pie-chart></i-pie-chart>
          Fiancial statements
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="/dashboard" routerLinkActive="active" class="nav-link" href="dashboard">
          <i-file></i-file>
          Sample
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="/about" routerLinkActive="active" class="nav-link" href="about">
          <i-info></i-info>
          About
        </a>
      </li>
    </ul>

  </div>
</nav>


