<nav class="col-md-2 d-none d-md-block bg-light sidebar nav-bg">

    <div class="col-12 sidebar-sticky">
        <div class="sidebar-header">
            <h3>BONZAI&trade;</h3>
        </div>

        <ul class="nav flex-column">
            <li class="nav-item">
                <a routerLink="/home" routerLinkActive="active" class="nav-link" href="home">
                    <i-home></i-home>
                    Home
                </a>
            </li>
            <li class="nav-item">
                <a routerLink="/dashboard" routerLinkActive="active" class="nav-link" href="dashboard">
                    <i-activity></i-activity>
                    Dashboard
                </a>
            </li>
            <li class="nav-item">
                <a routerLink="/stocks" routerLinkActive="active" class="nav-link" href="stocks">
                    <i-bar-chart-2></i-bar-chart-2>
                    Stocks
                </a>
            </li>
            <li class="nav-item">
                <a routerLink="/dividends" routerLinkActive="active" class="nav-link" href="dividends">
                    <i-dollar-sign></i-dollar-sign>
                    Dividends
                </a>
            </li>
            <li class="nav-item">
                <a routerLink="/dividend-picks" routerLinkActive="active" class="nav-link" href="dividend-picks">
                    <i-thumbs-up></i-thumbs-up>
                    Dividend Picks
                </a>
            </li>
            <li class="nav-item">
                <a routerLink="/financial" routerLinkActive="active" class="nav-link" href="financial">
                    <i-pie-chart></i-pie-chart>
                    Fiancial statements
                </a>
            </li>
            <li class="nav-item">
                <a routerLink="/sample" routerLinkActive="active" class="nav-link" href="sample">
                    <i-file></i-file>
                    Sample API call
                </a>
            </li>
            <li class="nav-item">
                <a routerLink="/service" routerLinkActive="active" class="nav-link" href="integrations">
                    <i-layers></i-layers>
                    Integrations
                </a>
            </li>
            <li class="nav-item">
                <a routerLink="/about" routerLinkActive="active" class="nav-link" href="about">
                    <i-info></i-info>
                    About
                </a>
            </li>
        </ul>

        <!-- <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
      <span>Saved reports</span>
      <a class="d-flex align-items-center text-muted" href="#">
        <span data-feather="plus-circle"></span>
      </a>
    </h6>
    <ul class="nav flex-column mb-2">
      <li class="nav-item">
        <a class="nav-link" href="#">
          <i-file-text></i-file-text>
          Current month
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <i-file-text></i-file-text>
          Last quarter
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <i-file-text></i-file-text>
          Social engagement
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <i-file-text></i-file-text>
          Year-end sale
        </a>
      </li>
    </ul> -->
    </div>
</nav>