<div class="jumbotron">
  <h1>{{ pageName }}</h1>
</div>
<div class="container-fluid">
  

<div class="row">
    <div class="card mb-3 w-100">
        <div class="card-body">
            <form class="form-inline">
                <div class="form-group mx-sm-3 mb-2">
                  <input class="form-control text-uppercase" type="text" [formControl]="symbolName" [(ngModel)]="defaultSymbol" />
                </div>
                <button (click)="findSymbol()" class="btn btn-dark mb-2">Find Symbol</button>
              </form>
        </div>
      </div>
    </div>


<!-- Nav Tabs -->
<div class="row">
  <form [formGroup]="dateSpan">
    <div class="btn-group btn-group-toggle" ngbRadioGroup name="dateSelect" formControlName="model">
      <label ngbButtonLabel class="btn-dark">
        <input ngbButton type="radio" value="1y"> 1y
      </label>
      <label ngbButtonLabel class="btn-dark">
        <input ngbButton type="radio" value="6m"> 6m
      </label>
      <label ngbButtonLabel class="btn-dark">
        <input ngbButton type="radio" value="3m"> 3m
      </label>
    </div>
  </form> 
</div>
<hr>
<div class="container-fluid">
  <div class="row">
    <div class="d-flex p-2">
      <p class="h4"> {{ stockDetails.companyName }} ({{ stockDetails.symbol }})</p>
    </div>
  </div>
  <div class="row">
      <div [ngSwitch]="dateSpan.value['model']">
          <ng-template ngSwitchDefault>
            <div class="row">
              <div class="chart-container col-12" id="container">
                <highcharts-chart class="highchart-container"
                                  [Highcharts]="Highcharts"
                                  [(update)]="updateFromInput"
                                  [oneToOne]="true"
                                  [options]="lineChart1y"></highcharts-chart>
              </div>
            </div>
          </ng-template>
          <ng-template ngSwitchCase="6m">
              <div class="row">
                  <div class="chart-container col-12">
                    <highcharts-chart class="highchart-container"
                                      [Highcharts]="Highcharts"
                                      [(update)]="updateFromInput1"
                                      [oneToOne]="true"
                                      [options]="lineChart6m"></highcharts-chart>
                  </div>
                </div>
          </ng-template>
          <ng-template ngSwitchCase="3m">
              <div class="row">
                  <div class="chart-container col-12">
                    <highcharts-chart class="highchart-container"
                                      [Highcharts]="Highcharts"
                                      [(update)]="updateFromInput2"
                                      [oneToOne]="true"
                                      [options]="lineChart3m"></highcharts-chart>
                  </div>
                </div>
          </ng-template>
        </div>
  </div>
</div>


</div>
