<div class="jumbotron">
    <h1>A Better Life Starts Here</h1>
</div>
<div class="container">

    <!-- Note -->
    <!-- Still fixing this page to look better -->

    <div class="card-body">
        <p class="lead">"BONZAI cultivates your wealth through helping you find dividend stocks for investing towards your goal. Carefully selecting dividend stocks to add to your portfolio can help grow your wealth even in the most volatile of markets."</p>
    </div>

    <p> BONZAI makes growing your wealth easy by providing you with a carefully curated group of dividend stocks to choose from. </p>
    <ul>
        <li>Long Running Top Picks</li>
        <li>Dividend Stocks by Sector</li>
        <li>Our Top Picks</li>
        <li>Customize Your Own</li>
    </ul>


    <ngb-accordion class="col-12" #acc="ngbAccordion" activeIds="ngb-panel-0">

        <ngb-panel title="How to Use the Best Dividend Stocks List">
            <ng-template ngbPanelContent let-opened="opened">
                <p>
                    The stocks featured on our Best Dividend Stocks List are geared toward traditional long-term investors looking to boost their current income stream, while at the same time maintaining a relatively low risk profile. The stocks above have been hand picked
                    by Dividend.com staff, which utilizes proprietary research and analysis to determine the best and safest dividend stocks to buy with “new money.” Our list contains compelling dividend paying stocks that have been thoroughly vetted
                    and feature exceptional ratings.Our list is not meant to represent a complete portfolio, nor is every stock on this list appropriate for all investors. We highly encourage investors to do their own research before making any investment
                    decision. When we remove a name from our “Recommended” dividend stocks list, that downgrade generally means that we no longer recommend adding to existing positions, or establishing new positions in that stock. More importantly, a
                    removal from our list is almost never a “Sell” call. On very rare occasions we may issue “Sell” calls if we feel the situation dictates. We also recommend investors to develop their own sell strategies to limit losses.When a stock
                    is added to our list, that means the stock’s ratings have been upgraded from “Neutral” to “Recommended.” This change is also known as a “Buy” call.
                </p>
            </ng-template>
        </ngb-panel>
        <ngb-panel title="How to Pick the Best Dividend Stocks">
            <ng-template ngbPanelContent>
                <p>
                    BONZAI was founded to make dividend investing easier for long-term and income-seeking investors. Much of our dividend research is compiled in our proprietary rating system, known as DARS™ (Dividend Advantage Rating System). Below is a detailed look at
                    how we rate dividend stocks. The relative strength of a dividend stock indicates whether the stock is uptrending or not. The major determining factor in this rating is whether the stock is trading close to its 52-week-high. If a stock’s
                    yield is above or near the market average then it will be rated higher within this parameter. High dividend yields (usually over 10%) should be considered extremely risky, while low dividend yields (1% or less) are simply not very
                    beneficial to long-term investors. A stock’s dividend reliability is determined by a healthy payout ratio that is higher than other stocks. A company that pays out close to half its earnings as dividends and retains the other half
                    of earnings has ample room to grow its business and pay out more dividends in the future. A stock’s Dividend Uptrend rating is dependent on the company’s price-to-earnings (P/E) ratio to evaluate whether or not a stock’s dividend is
                    likely to trend upward. If a stock is valued near, or slightly below the market average, research has shown that the market expects the stock’s dividend to increase. A stock’s Earnings Growth rating evaluates a company’s expected EPS
                    for the current financial year and compares it to next financial year’s expected EPS. Stocks with single-digit growth estimates will have a higher rating than others, as our research has shown that well-established dividend-paying
                    companies have modest earnings growth estimates.
                </p>
            </ng-template>

        </ngb-panel>
    </ngb-accordion>
    <div class="row col-12">
        <blockquote class="blockquote text-right">
            <p class="font-italic">Bonsai is an asian art form using cultivation techniques to produce small trees. Bonsai trees are know to grow in obscure places given the right conditions. </p>
            <footer class="blockquote-footer"><cite title="Source Title">Anonymous</cite></footer>
        </blockquote>
    </div>